html {
    overflow-x: hidden;
}

html p {
    margin-bottom: 0px;
}

body {
    font-family: "Spartan", sans-serif;
}

.navbar {
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 83px;
}

.navbar .nav-item {
    margin-left: 30px;
}

.navbar .nav-item p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.container-fluid {
    background: url("/assets/images/hero.png") top right no-repeat;
    height: 775px;
}

.hero {
    padding-top: 200px;
}

.hehe img {
    height: 600px;
    width: 660px;
    margin-left: 0px;
}

.btn-barbequeue {
    min-width: 198px;
    background: #8fbf8d;
    -webkit-box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.btn-barbequeue p {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff !important;
}

.btn-barbequeue:hover {
    background-color: #3f5d3d;
}

section {
    padding-top: 250px;
}

.title {
    font-family: Passion One;
    font-style: normal;
    font-weight: normal;
    font-size: 125px;
    line-height: 159px;
    color: #263825;
}

.hero p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}

section h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 29px;
    color: #000000;
}

.section-about {
    margin-top: -350px;
}

.section-carakerja .card {
    padding: 60px 15px;
    background: #ffffff;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.section-carakerja .card img {
    height: 200px;
}

.section-testimoni {
    margin-top: -50px;
    margin-bottom: 250px;
}

.section-testimoni .card {
    margin: 10px;
    padding: 40px 60px;
    background: #ffffff;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.splide__pagination {
    padding: 10px !important;
}

.splide__pagination__page.is-active {
    color: black !important;
    transform: scale(1.4);
    background: black !important;
}
/*# sourceMappingURL=landing-page.css.map */

/*footer*/
.footerBbq {
    position: relative;
    height: 350px;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: auto;
    padding: 4%;

    color: #ffffff;
    font-size: 14px;
    font-weight: 400;

    background: linear-gradient(98.68deg, #263825 10.4%, #8fbf8d 183.17%);
}
.copyright {
    position: absolute;
    height: 2px;
    width: 90%;
    margin-left: 2%;

    background: #8fbf8d;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    text-align: left;

    color: #ffffff;
}
.btn-dashboard {
    background: #263825;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    line-height: 30px;
    min-width: 150px;
    cursor: pointer;
}
.btn-dashboard:hover {
    background: #8fbf8d;
}

.tentangb .tengahh {
    margin-top: 200px;
}

.tentangb .pt-4 {
    margin-top: 50px;
}

.section-testimoni .shal {
    margin-top: 18px;
    margin-left: 80px;
}
