/*Tambah Bidang*/
.jumb-bid{
    height: 224px;
    width: 100%;
    left: 0px;
    top: 240px;

    background: #263825;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cont-bid{
    max-width: 700px;   
    margin-top: 100px;
    margin-bottom: 100px;
    /*left: 50%;
    right: -50%;
    transform: translate(0,-50%);*/
}
.fileUpload {
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: #ffff;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.btn-imgBid{
    position: absolute;
    max-width: 96px;
    max-height: 39px;

    background: #FFFFFF;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.btn-imgBid:hover{
    background-color: #E3DDDD;
}
.row-add{
    position: relative;
    justify-content:flex-end;
    margin: auto;
    margin-top: 40px;
    padding-right: 12px;
}
.txt-detailM{
    font-weight: bold;
    font-size: 36px;
}
a:hover{
    text-decoration:none;
}
/*User Profile*/
.cont-userProfile{
    position: relative;
    margin-top: 55px;
    max-width: 623px;;
}
.img-userProfile{
    max-width: 234px;
    max-height: 234px;
    border-radius: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
p.txt-activity{
    font-size: 25px;
    font-weight: 700;
}
.daftar-activity {
    margin-top: 60px;
}
p.txt-activity2{
    font-size: 25px;
    font-weight: 700;
    margin-top: 60px;
}
.card-activity {
    border-radius: 20px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
    margin-right: 16px;
}
.col-20 {
    width:20%;
}
.row-titleA{
    height: 25px;
    background-color: #D5DC60;
    margin: 0;
    padding: 5px;
    padding-left: 15px;

}
.card-titleA {
    font-weight: bold;
    font-size: 12px;
}

.card-textA {
    font-size: 9px;
    font-weight: 600;
    width: 50%;
    margin-bottom: 0;
}

.card-text1A {
    font-size: 9px;
    width: 50%;
    margin-bottom: 5px;
}
.row-aBody{
    padding-left:12px;
}
.txt-status{
    position: absolute;
    max-width: 85px;
    max-height: 23px;
    top: 9px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    right:12px;

    background: #D5DC60;
    border-radius: 5px;
}
/*setelah backend*/
.img-merchantDetail{
    margin-top:84px; 
    width:100%;
    max-height: 246px;
}
.error-msg{
    color: firebrick;
    margin: 20px 0 0 0;
    font-size: 12px;
}