html,
body {
    height: 100%;
    font-family: Spartan;
    font-style: normal;
    color: #000000;
}

/*navbar or header*/
.navbar-brand {
    position: absolute;
    left: calc(50% - 130px);

    font-family: Passion One;
    font-weight: normal;
    font-size: 40px;
}

.navbar-brand1 {
    position: absolute;
    left: calc(23% - 103px);

    font-family: Passion One;
    font-weight: normal;
    font-size: 40px;
}

.tombolnav {
    position: absolute;
    width: 32%;
    height: 36px;
    margin-left: 260%;
    margin-top: -16%;

    font-size: 14px;
    font-weight: 5px;
    font-family: spartan;

    background-color: #a94949;
    color: white;

    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
}

.shadow {
    position: absolute;
    height: 84px;
    left: 0px;
    top: 0px;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25),
        0 0 40px rgba(0, , 0, 0, 0.1) inset;
}
.shadow:before,
.shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20ox rgba(0, 0, 0, 0.8);
    bottom: 50%;
    top: 0;
    border-radius: 100px/10px;
}
.page-wrapper {
    min-height: 100%;
}

/*form register*/
p.txt-register {
    position: absolute;
    width: 345px;
    height: 29px;
    font-weight: 800;
    font-size: 26px;
}

input[type="text"],
select,
textarea {
    padding: 12px;
    width: 100%;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    resize: vertical;
    border: none;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    text-align: justify;
}
input[type="submit"] {
    position: absolute;
    width: 21%;
    height: 36px;
    margin-left: 62%;
    margin-top: 30px;

    font-weight: 600;
    font-size: 14px;

    background-color: #3f5d3d;
    color: white;
    padding: 10px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.box-register {
    position: absolute;
    width: 752px;
    height: 403px;
    left: calc(50% - 360px);
    margin-top: 173px;

    background: #ffffff;
    padding: 78px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.col-25 {
    float: left;
    width: 25%;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-70 {
    float: left;
    width: 70%;
    margin-top: 35px;
}

.textlog {
    color: #8fbf8d;
    font-weight: bolder;
}

/* Jumbotron */
.jumbotron {
    background-color: #263825;
    background-size: cover;
    height: 500px;
}

.jumbotron2 {
    background-color: #263825;
    background-size: cover;
    height: 350px;
}

.jumbotron .display-4 {
    color: white;
    text-align: start;
    margin-top: 180px;
    margin-left: 250px;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.jumbotron .display-5 {
    color: white;
    margin-left: 250px;
}

/* Panel */
.tombol {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin-top: -80px;
    padding: 30px;
    width: 400px;
    background-color: #d5dc60;
    font-weight: bold;
    font-size: 20px;
}

.tombol:hover {
    background-color: #b3b85f;
}

.tombol1 {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin-top: -80px;
    padding: 30px;
    width: 400px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
}

.tombol1:hover {
    background-color: #d6d6d6;
}

.daftar {
    margin-top: 100px;
    margin-left: 50px;
}

/* Masih form register, Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*footer*/
.footerBbq {
    position: relative;
    height: 350px;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: auto;
    padding: 4%;

    color: #ffffff;
    font-size: 14px;
    font-weight: 400;

    background: linear-gradient(98.68deg, #263825 10.4%, #8fbf8d 183.17%);
}
.copyright {
    position: absolute;
    height: 2px;
    width: 90%;
    margin-top: 15%;
    margin-left: 2%;

    background: #8fbf8d;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    text-align: left;

    color: #ffffff;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type="submit"] {
        width: 100%;
        margin-top: 0;
    }
}
/*Merchant Page*/
.cont-dMerchant {
    width: 754px;
    margin-top: 114px;
    margin-bottom: 114px;

    font-size: 14px;
    text-align: justify;
    align-items: center;
}
p.txt-merchantName {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 7%;
}
.btn-ambilAntrian {
    width: 211px;
    height: 36px;

    background: #3f5d3d;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
.btn-ambilAntrian:hover {
    background-color: #45a049;
}

/* Dashboard */

.card {
    border-radius: 20px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 11px;
    margin-top: 0px;
}

.card-text1 {
    font-size: 12px;
    margin-top: 0px;
    text-align: right;
    margin-bottom: 0px;
    color: #5a5a5a;
}

.daftarbawah {
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 100px;
}

.gambar img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*Antrian Mechant*/
.txt-merchantA {
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    font-size: 48px;
    top: 249px;

    text-align: justify;
}
.cont-antrian {
    left: 108px;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 10%;
    font-size: 14px;
    display: inline-flexbox;
}
.txt-antrianinfo {
    font-weight: 600;
    font-size: 36px;
    line-height: 20px;
    margin-bottom: 5%;
}
.btn-noAntrian {
    width: 56px;
    height: 56px;

    background: #ffffff;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: none;
    font-size: 18px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.row-antrian {
    justify-content: left;
    margin-top: 4%;
    margin-right: 2.3%;
}
#datepicker > span:hover {
    cursor: pointer;
}

/* Search box pilih merchant*/
.jumbotron2 .box {
    margin-top: 10%;
    width: 1100px;
    margin-left: 100px;
    border-radius: 50%;
}
.txt-path {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8%;
}

.section-hal {
    margin-bottom: -50px;
}

.text-hal {
    font-size: 20px;
    margin-top: 60px;
    font-weight: bold;
    margin-left: 50px;
    color: #000000;
}

.section-hal a {
    color: #000000;
}
