body {
    font-family: Spartan;
    font-style: normal;
    color: #000000;
}
/*navbar or header*/
.navbar-brand {
    position: absolute;
    left: calc(50% - 130px);

    font-family: Passion One;
    font-weight: normal;
    font-size: 40px;
}
.shadow {
    position: absolute;
    height: 84px;
    left: 0px;
    top: 0px;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25),
        0 0 40px rgba(0, , 0, 0, 0.1) inset;
}
.shadow:before,
.shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20ox rgba(0, 0, 0, 0.8);
    bottom: 50%;
    top: 0;
    border-radius: 100px/10px;
}
/*form register*/
p.txt-register {
    position: absolute;
    width: 345px;
    height: 29px;
    font-weight: 800;
    font-size: 26px;
}

input[type="text"],
select,
textarea {
    padding: 12px;
    width: 100%;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    resize: vertical;
    border: none;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    text-align: justify;
}
input[type="submit"] {
    position: absolute;
    width: 21%;
    height: 36px;
    margin-left: 62%;
    margin-top: 30px;

    font-weight: 600;
    font-size: 14px;

    background-color: #3f5d3d;
    color: white;
    padding: 10px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.box-register {
    position: absolute;
    width: 752px;
    height: 403px;
    left: calc(50% - 360px);
    margin-top: 173px;

    background: #ffffff;
    padding: 78px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.col-25 {
    float: left;
    width: 25%;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-70 {
    float: left;
    width: 70%;
    margin-top: 35px;
}

.textlog {
    color: #8fbf8d;
    font-weight: bolder;
}

/* Masih form register, Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*footer*/
.footerBbq {
    position: absolute;
    height: 350px;
    top: 788px;
    padding: 4%;

    color: #ffffff;
    font-size: 14px;
    font-weight: 400;

    background: linear-gradient(98.68deg, #263825 10.4%, #8fbf8d 183.17%);
}
.copyright {
    position: absolute;
    height: 2px;
    width: 80%;
    margin-top: 15%;
    margin-left: 2%;

    background: #8fbf8d;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    text-align: left;

    color: #ffffff;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type="submit"] {
        width: 100%;
        margin-top: 0;
    }
}
